
name: carsense
description: Emulatore OBD con Dashboard, Problemi, Supporto IA e Mappa
environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.2
  google_maps_flutter: ^2.6.0
  geolocator: ^10.1.0
  http: ^1.2.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
